:host {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #cacbcc;
    background-color: #e8e8e8;
}

.title {
    margin-left: 2px;
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 500;
}