#backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;

    background-color: rgba(black, 0.4);
    backdrop-filter: grayscale(80%);
}

#circle-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    z-index: 2001;
    border-radius: 100%;

    background-color: #ffbc40;

    animation: 1.2s loading infinite ease-in-out;
}

#circle-2 {
    animation-delay: 0.2s;
}

#circle-3 {
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        transform: scale(1) translateY(0px);
    }
    66% {
        transform: scale(0.8) translateY(10px);
    }
    100% {
        transform: scale(1) translateY(0px);
    }
}
