@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "variables";

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--surface-a);
  font-family: var(--font-family);
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    flex: 1;
    overflow: auto;
  }
}

.app-table {
  display: grid;
  width: 100%;
  border-collapse: collapse;

  thead,
  tbody,
  tr {
    display: contents;
  }

  th {
    position: sticky;
    top: 0;
    display: flex;
    text-align: start;
    color: white;
    background-color: #303030;
    justify-content: flex-start;
    padding: 10px 12px;
  }

  td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 12px;
  }
}

.app-button {
  padding: 8px 12px;
  font-size: 1em;
  font-weight: 500;
  color: #101010;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  background-color: #26a7fd;

  &:hover {
    background-color: #2291db;
  }

  &:active {
    color: #f0f0f0;
    background-color: #2291db;
  }
}
