<div class="wrapper">
  <p-panel header="Pier login">
    <form [formGroup]="loginForm" (submit)="sbumit()" class="login-form">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="email"
            formControlName="email"
            autocomplete="email username"
          />
          <label for="email">Email</label>
        </span>
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-key"></i>
        </span>
        <span class="p-float-label">
          <input
            pInputText
            type="password"
            id="password"
            formControlName="password"
            autocomplete="current-password"
          />
          <label for="password">Password</label>
        </span>
      </div>

      <div class="actions">
        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"></button>
      </div>
    </form>
  </p-panel>
</div>
