[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.2"
Flask-RESTful = "==0.3.8"
Flask-JWT-Extended = "==3.25.0"
flask-mongoengine = "==0.9.5"
Flask-Cors = "==3.0.9"
APScheduler = "==3.6.3"
passlib = "==1.7.4"
pyspark = "==3.0.1"
dash = "==1.18.1"
plotly-express = "==0.4.1"
dash-bootstrap-components = "==0.11.1"
python-dotenv = "==0.15.0"
psycopg2-binary = "==2.8.6"
pywebhdfs = "*"
flask-api = "*"

[dev-packages]

[requires]
python_version = "3.9"
