<app-loading-overlay [isLoading]="isFetching"></app-loading-overlay>

<div class="page-wrapper">
    <div class="content-wrapper">
        <div
            class="menu-backdrop"
            *ngIf="contextMenuVisible"
            (click)="closeContextMenu()"
            (contextmenu)="closeContextMenu()"
        ></div>

        <div
            class="menu context-menu"
            *ngIf="contextMenuVisible"
            [style.top]="contextMenuY + 'px'"
            [style.left]="contextMenuX + 'px'"
        >
            <div class="menu-entry" (click)="openDetails(contextDatamartId)">
                <fa-icon class="fas fa-info"></fa-icon>
                <span>Details</span>
            </div>
            <div class="menu-entry" (click)="openDashboard(contextDatamartId)">
                <fa-icon class="fas fa-chart-line"></fa-icon>
                <span>Dashboard</span>
            </div>
            <div class="menu-entry danger" (click)="delete(contextDatamartId)">
                <fa-icon class="fas fa-trash"></fa-icon>
                <span>Delete</span>
            </div>
        </div>

        <div id="header">
            <app-button text="Ingest" routerLink="ingest"></app-button>
            <app-button text="Create" routerLink="create"></app-button>
        </div>

        <div id="table-container">
            <table class="app-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Human Readable Name</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Started</th>
                        <th>Ended</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let datamart of datamarts$ | async"
                        class="row"
                        (contextmenu)="openContextMenu($event, datamart.uid)"
                        (dblclick)="openDetails(datamart.uid)"
                        [class.context-menu]="datamart.uid == contextDatamartId"
                    >
                        <td>{{ datamart.uid }}</td>
                        <td>{{ datamart.humanReadableName }}</td>
                        <td>{{ datamart.status.state }}</td>
                        <td>{{ datamart.metadata.createdAt.format("YYYY-MM-DD HH:mm:ss") }}</td>
                        <td>
                            {{ datamart.metadata.createdBy.firstname }}
                            {{ datamart.metadata.createdBy.lastname }}
                        </td>
                        <td>{{ datamart.status.started.format("YYYY-MM-DD HH:mm:ss") }}</td>
                        <td>{{ datamart.status.ended.format("YYYY-MM-DD HH:mm:ss") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
