#page-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    overflow: auto;
}

#header {
    display: flex;
    padding: 20px;

    .title {
        margin-left: 40px;
        font-size: 1.4em;
        font-weight: bold;
    }
}

//-------------------------------------------------------------------------------------------------
//---- save
//-------------------------------------------------------------------------------------------------
#save-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto auto;
    gap: 20px;
}
