<app-loading-overlay [isLoading]="preview?.isGeneratingPreview || sentSave"></app-loading-overlay>
<div id="page-root">
    <div id="header">
        <app-button icon="fa fa-arrow-left" routerLink=".."></app-button>
        <div class="title">Create datamart</div>
        <div style="flex: 1"></div>
        <app-button text="Cancel" (click)="cancel()"></app-button>
    </div>
    <div id="content">
        <app-divider title="Datamart Selection" style="margin-top: 0"></app-divider>
        <app-creation-selection></app-creation-selection>

        <app-divider title="Python code"></app-divider>
        <app-creation-python
            [disabled]="preview?.isGeneratingPreview || selection?.invalid"
        ></app-creation-python>

        <app-divider title="SQL code"></app-divider>
        <app-creation-sql
            [disabled]="preview?.isGeneratingPreview || selection?.invalid"
        ></app-creation-sql>

        <app-divider title="Preview"></app-divider>
        <app-creation-preview
            [selectedDatamarts]="selection?.selectedDatamarts$ | async"
            [pythonCode]="python?.pythonCode"
            [sqlCode]="sql?.sqlCode"
            [disabled]="selection?.invalid"
        ></app-creation-preview>

        <app-divider title="Save"></app-divider>
        <form id="save-input" [formGroup]="saveForm" (submit)="save()">
            <app-input
                id="name"
                formControlName="humanReadableName"
                label="Human Readable Name"
            ></app-input>
            <app-drop-down formControlName="target" label="Target Storage">
                <app-drop-down-option
                    *ngFor="let target of targets"
                    [value]="target.value"
                    [label]="target.label"
                ></app-drop-down-option>
            </app-drop-down>
            <app-button
                text="Save"
                type="submit"
                style="align-self: flex-end"
                [disabled]="saveForm.invalid"
            ></app-button>
            <app-text-area
                style="grid-row: 1 / span 3; grid-column: 2"
                formControlName="comment"
                label="Comment"
                rows="10"
            ></app-text-area>
        </form>
    </div>
</div>
