<div id="page-root">
    <div id="header">
        <app-button icon="fa fa-arrow-left" routerLink=".."></app-button>
        <div id="title">Ingest new datasource</div>
    </div>

    <div id="content">
        <app-divider title="Common information"></app-divider>
        <app-ingestion-common-information></app-ingestion-common-information>
        
        <div class="info-input" [class.invisible]="commonInfo?.source !== mongodbSource">
            <app-divider title="MongoDB information"></app-divider>
            <app-ingestion-mongodb-information></app-ingestion-mongodb-information>
        </div>
        
        <div class="info-input" [class.invisible]="commonInfo?.source !== postgresqlSource">
            <app-divider title="PostgreSQL information"></app-divider>
            <app-ingestion-postgresql-information></app-ingestion-postgresql-information>
        </div>
        
        <div class="info-input" [class.invisible]="commonInfo?.source !== fileSource">
            <app-divider title="File information"></app-divider>
            <app-ingestion-file-information></app-ingestion-file-information>
        </div>
    </div>

    <div id="actions">
        <app-button
            text="Start"
            (click)="ingest()"
            [disabled]="
                commonInfo?.invalid ||
                (commonInfo?.source === mongodbSource && mongoInfo?.invalid) ||
                (commonInfo?.source === postgresqlSource && pgInfo?.invalid) ||
                (commonInfo?.source === fileSource && fileInfo?.invalid) 
            "
        ></app-button>
    </div>
</div>
