#page-root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    background-color: #e6e7e8;
}

#login {
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 6px 0 rgba(black, 0.1);
}

#login-title {
    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-size: 1.8em;
    font-weight: 500;
}

app-input {
    min-width: 16em;
    margin: 20px 0;
}

#actions {
    display: flex;
    justify-content: flex-end;
}