<div id="search">
    <app-input prefix="search:" [(ngModel)]="searchString" (input)="search()">
        <ng-container iconRight *ngIf="isSearching; else notSearching">
            <fa-icon class="fas fa-spinner"></fa-icon>
        </ng-container>

        <ng-template #notSearching>
            <fa-icon class="fa fa-search"></fa-icon>
        </ng-template>
    </app-input>

    <div id="search-results">
        <div class="search-result" *ngFor="let result of searchResults$ | async; let i = index">
            <div class="hrn">{{ result.humanReadableName }}</div>
            <div class="uid">{{ result.uid }}</div>
            <app-button icon="fa fa-plus" (click)="selectDatamart(i)"></app-button>
        </div>
    </div>
</div>

<div id="vertical-divider">
    <div id="divider-line"></div>
    <div id="divider-icon">
        <fa-icon class="fa fa-chevron-right"></fa-icon>
    </div>
</div>

<div id="mapping">
    <div class="head">HNR</div>
    <div class="head">Identifier</div>
    <div></div>
    <ng-container *ngFor="let mart of selectedDatamarts$ | async; let i = index">
        <div class="hrn">{{ mart.hnr }}</div>
        <app-input
            [(ngModel)]="mart.identifier"
            (input)="validate(mart)"
            [class.ng-invalid]="!mart.identifier"
        ></app-input>
        <app-button icon="fa fa-minus" (click)="unselectDatamart(i)"></app-button>
    </ng-container>
</div>
