<form [formGroup]="form">
    <app-input formControlName="host" label="Host" prefix="mongodb://"></app-input>
    <app-input formControlName="port" type="number" label="Port" prefix=":"></app-input>
    <app-input formControlName="database" label="Database"></app-input>
    <app-input formControlName="collection" label="Collection"></app-input>
    <app-input formControlName="user" label="User"></app-input>
    <app-input formControlName="password" label="Password" type="password"></app-input>
</form>
