<div class="page-wrapper">
  <app-appbar></app-appbar>
  <div class="header">
    <div>
      <div>
        <button pButton label="Create" [routerLink]="['creation']"></button>
      </div>
    </div>
    <div class="search-container">
      <div class="p-inputgroup">
        <input #keyword type="text" pInputText placeholder="Keyword" (input)="search($event.target.value)">   
        <button type="button" pButton icon="fa fa-search"></button>      
      </div>
    </div>
    <div>
      <p-progressSpinner
        [class.visible]="isFetching"
        [style]="{ width: '1.2em', height: '1.2em', visibility: 'hidden' }"
        strokeWidth="4"
      ></p-progressSpinner>
    </div>
    <span class="last-updated">{{ lastUpdated?.format("YYYY-MM-DD HH:mm:ss") }}</span>
  </div>

  <div class="content-wrapper">
    <table class="app-table">
      <thead>
        <th></th>
        <th>Human Readable Name</th>
        <th>Insterted By</th>
        <th>Insterted At</th>
        <th>UID</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let metadata of metaData$ | async">
          <tr class="row" [class.expanded]="metadata.expanded">
            <td (click)="metadata.expanded = metadata.expanded != null ? !metadata.expanded : true" style="cursor: pointer;">
              <fa-icon [icon]="metadata.expanded ? chevronDown : chevronRight"></fa-icon>
            </td>
            <td *ngIf="!metadata.expanded">{{ metadata.humanReadableName }}</td>
            <td *ngIf="metadata.expanded">
              <input pInputText [(ngModel)]="metadata.humanReadableName" (click)="hnrInputClick()" />
            </td>
            <td>{{ metadata.insertedBy }}</td>
            <td>{{ metadata.insertedAt | date: "yyyy-MM-dd HH:mm:ss" }}</td>
            <td>{{ metadata.uid }}</td>
            <td>
              <a pButton                 
                icon="fa fa-chart-bar"
                class="p-button-rounded p-button-text"
                [href]="api + '/dashboard/' + metadata.uid"
                target="_blank"
              ></a>
            </td>
          </tr>
          <tr *ngIf="metadata.expanded">
            <td class="expand-panel">
              <div class="details">
                <p-divider align="center">
                  <span>Comment</span>
                </p-divider>
                <textarea 
                  pInputTextarea 
                  [(ngModel)]="metadata.comment" 
                  style="grid-column: 1 / span 2; margin: 0 6px;"
                ></textarea>

                <p-divider align="center">
                  <span>Source</span>
                </p-divider>
                <ng-container *ngIf="metadata.isDatabase">
                  <div class="details-header">Server</div>
                  <div class="details-cell">{{ metadata.sourceConnection }}</div>
                  <div class="details-header">Database</div>
                  <div class="details-cell">{{ metadata.sourceDBName }}</div>
                  <div class="details-header">Collection</div>
                  <div class="details-cell">{{ metadata.sourceCollectionOrTableName }}</div>
                </ng-container>
                <ng-container *ngIf="!metadata.isDatabase">
                  <div class="details-header">File</div>
                  <div class="details-cell">{{ metadata.sourceConnection }}</div>
                  <div class="details-header">CSV: has header</div>
                  <div class="details-cell">{{ metadata.csvHasHeader }}</div>
                  <div class="details-header">CSV: delimiter</div>
                  <div class="details-cell">{{ metadata.csvDelimiter }}</div>
                </ng-container>
                
                <p-divider align="center">
                  <span>Target</span>
                </p-divider>
                <div class="details-header">System</div>
                <div class="details-cell">{{ metadata.targetStorageSystem }}</div>
                <ng-container *ngIf="metadata.targetStorageSystem === 'HDFS'">
                  <div class="details-header">MIME-Type</div>
                  <div class="details-cell">{{ metadata.mimetype }}</div>
                </ng-container>
                <div class="details-header">URL</div>
                <div class="details-cell">{{ metadata.targetURL }}</div>
              </div>
              <div class="schema-wrapper">
                <div class="schema">
                  <div>Schema:</div>
                  <metadata-schema-view
                    *ngFor="let field of metadata.schema.fields; trackBy: trackEntry"
                    [field]="field"
                    [flattenName]="field.name"
                  ></metadata-schema-view>
                </div>
                <p-divider layout="vertical" class="divider"></p-divider>
                <div>
                  <div>Heritage:</div>
                  <ng-container 
                    [ngTemplateOutlet]="heritage" 
                    [ngTemplateOutletContext]="{ ancestors: metadata.heritage }"
                  ></ng-container>
                </div>
              </div>
              <div class="actions">
                <div class="left">
                  <button pButton label="save" (click)="saveChanges(metadata)"></button>
                  <button pButton label="revert" class="p-button-secondary" (click)="revertChanges(metadata)"></button>
                </div>
                <div class="center"></div>
                <div class="right">
                  <button pButton label="delete" class="p-button-danger" (click)="delete(metadata)"></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #heritage let-ancestors="ancestors">
  <div *ngFor="let ancestor of ancestors" class="ancestor">
    <div><b>UID</b>: {{ancestor.uid}}</div>
    <div class="heritage-wrapper">
      <ng-container 
        [ngTemplateOutlet]="heritage" 
        [ngTemplateOutletContext]="{ ancestors: ancestor.heritage }"
      ></ng-container>
    </div>
  </div>
</ng-template>