<form [formGroup]="form">
    <app-drop-down label="Source storage" formControlName="source">
        <app-drop-down-option
            *ngFor="let source of sources"
            [label]="source.label"
            [value]="source.value"
        ></app-drop-down-option>
    </app-drop-down>
    
    <app-drop-down label="Target storage" formControlName="target">
        <app-drop-down-option
            *ngFor="let target of targets"
            [label]="target.label"
            [value]="target.value"
        ></app-drop-down-option>
    </app-drop-down>

    <app-input formControlName="humanReadableName" label="Human Readable Name"></app-input>

    <app-text-area
        formControlName="comment"
        label="Comment"
        [rows]="5"
        [cols]="50"
        resize="vertical"
    ></app-text-area>
</form>
