<div class="ingestion-wrapper" *ngIf="ingestionVisible">
  <app-ingestion #ingestionComponent (closeIngestion)="this.ingestionVisible = false"></app-ingestion>
</div>

<div class="page-wrapper">
  <app-appbar></app-appbar>
  <div class="header">
    <button pButton (click)="ingest()" label="Ingest"></button>
    <span class="poll-switch">
      <span>Poll periodically</span>
      <p-inputSwitch [ngModel]="pollInfo.poll" (onChange)="togglePolling()"></p-inputSwitch>
    </span>
    <div style="flex: 1"></div>
    <div>
      <p-progressSpinner
        *ngIf="isFetching"
        [style]="{ width: '1.2em', height: '1.2em' }"
        strokeWidth="4"
      ></p-progressSpinner>
    </div>
    <span class="last-updated">{{ lastUpdated?.format("YYYY-MM-DD HH:mm:ss") }}</span>
  </div>

  <div class="content-wrapper">
    <table class="app-table">
      <thead>
        <tr>
          <th>UID</th>
          <th>Started by</th>
          <th>Started at</th>
          <th>Ended at</th>
          <th class="state-header">State</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs$ | async" class="row">
          <td>{{ job.uid }}</td>
          <td>{{ job.startedBy }}</td>
          <td>{{ job.startedAt?.format("YYYY-MM-DD HH:mm:ss") }}</td>
          <td>{{ job.endedAt?.format("YYYY-MM-DD HH:mm:ss") }}</td>
          <td class="state-cell" [class]="stateClass(job)" [title]="stateClass(job)">
            <fa-icon [icon]="stateIcon(job)"></fa-icon>
          </td>
          <td>
            <button pButton                 
              icon="fa fa-trash"
              class="p-button-danger p-button-rounded p-button-text" 
              (click)="delete(job.uid)"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
