:host {
    display: flex;
    flex-direction: column;
    
    &:hover {
        .field {
            border-color: #ffbc40;
        }

        .icon {
            color: #ffbc40;
        }
    }

    &:focus, &.open {
        .field {
            border-color: #ffbc40;
            box-shadow: 0 0 2px #ffbc40;
        }
    }
}

.field {
    position: relative;
    display: flex;

    height: 2.2em;
    min-width: 16em;

    font-family: 'Open Sans';
    font-size: 1em;

    border: 1px solid #cacbcc;
    border-radius: 2px;
}

.selected {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.icon {
    width: 2.2em;
    height: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575757;
}

.selection {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 900;
    
    margin-top: 5px;
    
    border: 1px solid #cacbcc;
    border-radius: 2px;
    background-color: white;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 700;
}