
.page-wrapper {
  height: 100%;
  background-color: #f0f0f0;
  overflow: auto;
}

//-------------------------------------------------------------------------------------------------
//---- selection
//-------------------------------------------------------------------------------------------------
.selection-panel {
  margin: 16px;

  .selection-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: max(24vh, 150px);
  }

  .search-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: hidden;
    
    .search-results {
      height: 100%;
      overflow: auto;

      .result {
        padding: 8px;
        display: flex;
        align-items: center;
      }
    }
  }

  .vertical-divider {
    align-self: stretch;
  }

  .mapping-box {
    width: 50%;
    display: grid;
    grid-template-columns: minmax(200px, 30%) 1fr max-content;
    gap: 8px;

    .title {
      padding: 8px;
      font-size: 1em;
      font-weight: bold;
    }

    .uid {
      max-width: 100%;
      padding: 8px;
      border: 1px solid #ced4da;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

//-------------------------------------------------------------------------------------------------
//---- operations
//-------------------------------------------------------------------------------------------------
.columns-panel {
  margin: 16px;
  margin-top: 16px;

  .fieldset-spacer {
    height: 16px;
  }

  .column-functions-wrapper {
    padding: 12px;

    .column-function {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr max-content;
      column-gap: 16px;

      label {
        grid-row: 1;
      }

      .two-span-two {
        grid-column: 2 / span 2;
      }

      .four-span-two {
        grid-column: 4 / span 2;
      }
    }
  }
}

//-------------------------------------------------------------------------------------------------
//---- query
//-------------------------------------------------------------------------------------------------
.query-wrapper {
  margin: 16px;
  margin-top: 0;
  background-color: white;

  textarea {
    width: 100%;
    min-height: 16vh;
    height: auto;
    overflow: auto;
    resize: vertical;
  }
}

//-------------------------------------------------------------------------------------------------
//---- preview
//-------------------------------------------------------------------------------------------------
.preview-wrapper {
  margin: 16px;
  margin-top: 0;

  .table-wrapper {
    overflow: auto;

    table {
      border-collapse: collapse;

      tr {
        th {
          padding: 8px 12px;
          white-space: nowrap;
          border-bottom: 2px solid black;
          text-align: start;
        }

        td {
          padding: 8px 12px;
          white-space: nowrap;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}


//-------------------------------------------------------------------------------------------------
//---- save
//-------------------------------------------------------------------------------------------------
.save-panel {
  margin: 16px;
  margin-top: 0;

  .save-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;

    .comment-field {
      grid-column: 2;
      grid-row: 1 / span 2;
      display: flex;
      flex-direction: column;

      textarea {
        flex: 1;
        resize: none;
      }
    }
  }
}