<div class="page-wrapper">


  <!-----------------------------------------------------------------------------------------------
  ----- selection
  ------------------------------------------------------------------------------------------------>
  <p-panel header="Select datamarts" class="selection-panel">
    <div class="selection-wrapper">
      <!----- left: search box ------------------------------------------------------------------->
      <div class="search-box">
        <div class="p-inputgroup">
          <input pInputText
            type="text" 
            placeholder="Keyword" 
            (input)="searchString$.next($event.target.value)"
          />   
          <span class="p-inputgroup-addon">
            <i class="fa fa-search" [class.pi-spin]="isSearching"></i>      
          </span>
        </div>
        <div class="search-results">
          <div class="result" *ngFor="let result of searchResults$ | async; let i = index">
            <button pButton                 
              icon="fa fa-plus"
              class="p-button-rounded p-button-text"
              style="margin-right: 8px;"
              (click)="selectDatamart(i)"
            ></button>
            <span><b>{{result.humanReadableName}}</b> ({{result.uid}})</span>
          </div>
        </div>
      </div>

      <p-divider layout="vertical" class="vertical-divider">
        <i class="fa fa-chevron-right" style="color: #c3c8cc"></i>
      </p-divider>

      <!----- right: mapping box ----------------------------------------------------------------->
      <div class="mapping-box">
        <div class="title">Identifier</div>
        <div class="title">HNR (UID)</div>
        <div></div>
        <ng-container *ngFor="let mart of selectedMarts$ | async; let i = index">
          <input pInputText [(ngModel)]="mart.identifier"/>
          <div class="uid"><b>{{mart.hnr}}</b> ({{mart.metadataId}})</div>
          <button pButton                 
            icon="fa fa-minus"
            class="p-button-danger p-button-rounded p-button-text"
            (click)="unselectDatamart(i)"
          ></button>
        </ng-container>
      </div>
    </div>
  </p-panel>


  <!-----------------------------------------------------------------------------------------------
  ----- pyspark
  ------------------------------------------------------------------------------------------------>
  <p-panel header="Pyspark" class="columns-panel">
    <div class="columns-wrapper">
      <textarea 
        style="width: 100%; resize: vertical;"
        pInputTextarea 
        [(ngModel)]="pyspark"
        rows="10"
      ></textarea>
    </div>
  </p-panel>

  
  <!-----------------------------------------------------------------------------------------------
  ----- query
  ------------------------------------------------------------------------------------------------>
  <p-panel header="SQL" class="query-wrapper" >
    <textarea pInputTextarea 
      [(ngModel)]="query" 
      style="resize: vertical;"
      [disabled]="this.isGeneratingPreview"
    ></textarea>
    <div>
      <span>Preview Rows:</span>
      <p-inputNumber 
        [(ngModel)]="previewRowCount" 
        [disabled]="this.isGeneratingPreview"
      ></p-inputNumber>
      <button pButton 
        label="Preview" 
        style="margin-top: 16px;"
        [disabled]="this.isGeneratingPreview"
        (click)="generatePreview()"
      ></button>
    </div>
  </p-panel>


  <!-----------------------------------------------------------------------------------------------
  ----- preview
  ------------------------------------------------------------------------------------------------>
  <p-panel 
    class="preview-wrapper" 
    [header]="isGeneratingPreview ? 'Loading preview...' : previewError ? 'Preview Failed' : 'Preview'"
  >
    <div class="table-wrapper" *ngIf="previewSchema != null">
      <table>
        <thead>
          <tr>
            <th *ngFor="let col of previewSchema.fields">{{col.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of previewRows">
            <td *ngFor="let cell of row">{{cell}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="previewError != null">{{previewError}}</div>
  </p-panel>


  <!-----------------------------------------------------------------------------------------------
  ------ save
  ------------------------------------------------------------------------------------------------>
  <p-panel header="Save" class="save-panel">
    <div class="save-wrapper p-fluid">
      <div class="p-field">
        <label for="name">Human Readable Name</label>
        <input pInputText id="name" [(ngModel)]="humanReadableName"/>
      </div>
      <div class="p-field">
        <label for="targetStorageSystem">Target Storage System</label>
        <p-dropdown
          id="targetStorageSystem"
          [options]="targetStorageSystems" 
          optionLabel="system"
          optionValue="system"
          [(ngModel)]="targetStorageSystem"></p-dropdown>
      </div>
      <div class="comment-field p-field">
        <label for="comment">Comment</label>
        <textarea pInputTextarea id="comment" [(ngModel)]="comment"></textarea>
      </div>
      <ng-container *ngIf="targetStorageSystem == 'XML'">
        <div class="p-field">
          <label for="rowTag">Row Tag</label>
          <input pInputText id="xmlRowTag" [(ngModel)]="xmlRowTag"/>
        </div>
      </ng-container>
      <ng-container *ngIf="targetStorageSystem == 'CSV'">
        <div class="p-field">
          <label for="csvDelimiter">Delimiter</label>
          <input pInputText id="csvDelimiter" [(ngModel)]="csvDelimiter"/>
        </div>
        <div class="p-field">
          <label>Has Header</label>
          <p-toggleButton onLabel="header" offLabel="no header" [(ngModel)]="csvHasHeader"></p-toggleButton>
        </div>
      </ng-container>
    </div>
    <button pButton label="Save" (click)="save()"></button>
  </p-panel>
</div>

<p-dialog [(visible)]="endDialogVisible">

</p-dialog>