:host {
  width: 80%;
  max-width: 1000px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 24px;
  background-color: white;
  border-radius: 5px;

  .title {
    font-size: 1.4em;
    font-weight: bold;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;

    button:not(:last-child) {
      margin-right: 24px;
    }
  }

  p-dropdown {
    width: 100%;
  }
}

.file-selection {
  display: flex;
  flex-direction: row;
  align-items: center;

  .p-button {
    width: auto;
  }

  div {
    flex: 1;
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

