<label *ngIf="label" class="app-label" [for]="id">{{ label }}</label>

<div class="field" (click)="input.focus()">
    <div class="icon">
        <ng-content select="[iconLeft]"></ng-content>
    </div>

    <div class="prefix">{{ prefix }}</div>

    <input
        #input
        [id]="id"
        [value]="value"
        (input)="onInput($event.target.value)"
        [disabled]="disabled"
        [type]="type"
        [value]="value"
    />

    <div class="icon">
        <ng-content select="[iconRight]"></ng-content>
    </div>
</div>
