:host.raised {
    box-shadow: 1px 1px 6px 0 rgba(#aa7512, 0.6);
}

.app-button {
    border: none;
    outline: none;
    
    height: 2.2em;
    max-height: 2.2em;
    min-height: 2.2em;

    padding: 0 1em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 500;
    
    background: #ffbc40;
    border-radius: 2px;
    
    cursor: pointer;
    
    &:hover {
        // background: #f0a721;
        box-shadow: inset 0 0 0 1px #272727;
    }

    &.has-icon {
        padding-left: 0;

        .app-button-icon {
            width: 2.2em;
            max-width: 2.2em;
            min-width: 2.2em;
            height: 2.2em;
            max-height: 2.2em;
            min-height: 2.2em;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.1em;
            
        }
    }

    &.icon-only {
        padding-right: 0;
        width: 2.2em;
        max-width: 2.2em;
        min-width: 2.2em;
    }
}

.app-button:disabled {
    cursor: default;
    box-shadow: none;

    &:hover {
        background: #ffbc40;
    }
}